@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Manrope:600);

@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,700);

@-webkit-keyframes rotateThis {
  from {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }

  to {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes rotateThis {
  from {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }

  to {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.container-big {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

@-webkit-keyframes moveLight {
  0% {
    -webkit-transform: translateX(-200%) skewX(-45deg);
            transform: translateX(-200%) skewX(-45deg);
    left: 0;
  }

  30% {
    -webkit-transform: translateX(0%) skewX(-45deg);
            transform: translateX(0%) skewX(-45deg);
    left: 150%;
  }

  100% {
    -webkit-transform: translateX(0%) skewX(-45deg);
            transform: translateX(0%) skewX(-45deg);
    left: 150%;
  }
}

@keyframes moveLight {
  0% {
    -webkit-transform: translateX(-200%) skewX(-45deg);
            transform: translateX(-200%) skewX(-45deg);
    left: 0;
  }

  30% {
    -webkit-transform: translateX(0%) skewX(-45deg);
            transform: translateX(0%) skewX(-45deg);
    left: 150%;
  }

  100% {
    -webkit-transform: translateX(0%) skewX(-45deg);
            transform: translateX(0%) skewX(-45deg);
    left: 150%;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  background: -o-linear-gradient(205.32deg, #EF6A40 18.69%, #EE3F3F 86.58%);
  background: linear-gradient(244.68deg, #EF6A40 18.69%, #EE3F3F 86.58%);
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 150%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: skewX(-45deg) translateX(-200%);
      -ms-transform: skewX(-45deg) translateX(-200%);
          transform: skewX(-45deg) translateX(-200%);
  -webkit-animation: moveLight 3.5s infinite;
          animation: moveLight 3.5s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.btn:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  -webkit-box-shadow: 1px 1px #83260a, 2px 2px #83260a, 3px 3px #83260a;
          box-shadow: 1px 1px #83260a, 2px 2px #83260a, 3px 3px #83260a;
  -webkit-transform: translateX(-2px);
      -ms-transform: translateX(-2px);
          transform: translateX(-2px);
}

.btn:active {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.btn__empty {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.btn__empty:hover {
  border-color: white;
}

.section-title {
  font-size: calc(30px + 30 * ((100vw - 320px) / 1600));
  line-height: 70px;
  margin-bottom: 30px;
  color: #131823;
}

.section-text {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 32px;
  color: #131823;
}

.header {
  position: relative;
  background: url("../img/header/header_bg.jpg") center/cover no-repeat;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 54px;
}

.header__icon {
  z-index: 3;
  position: relative;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__burger::after,
.header__burger::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.header__burger::before {
  top: 18px;
}

.header__burger::after {
  bottom: 18px;
}

.header__burger.active::after {
  top: 23px;
  left: 30%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger.active::before {
  top: 23px;
  left: 30%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list li {
  margin-right: 52px;
  line-height: 20px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__link {
  position: relative;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  color: #fff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header__link::after {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__link:hover {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.header__link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__btn {
  position: relative;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  padding: 18px 41px 18px 15px;
  color: #fcfcfc;
}

.header__btn::after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../img/icons/present.svg") center/cover no-repeat;
}

.header__menu {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.header__mobile-btns {
  display: none;
  height: 56px;
}

.header__mobile-btn {
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.32);
  font-size: 14px;
  border-radius: 4px;
  background: none;
  color: #fff;
}

.header__mobile-btn_mail {
  margin-right: 16px;
  position: relative;
  padding: 16px 28px 16px 52px;
  font-family: 'Inter', sans-serif;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 24px;
}

.header__mobile-btn_mail::after {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  left: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/mail.svg") center/cover no-repeat;
}

.header__mobile-btn_telegram {
  padding: 0 16.5px;
}

@-webkit-keyframes shieldMoveMax {
  0% {
    top: 197px;
  }

  50% {
    top: 203px;
  }

  100% {
    top: 197px;
  }
}

@keyframes shieldMoveMax {
  0% {
    top: 197px;
  }

  50% {
    top: 203px;
  }

  100% {
    top: 197px;
  }
}

@-webkit-keyframes shieldMoveMin {
  0% {
    top: 247px;
  }

  50% {
    top: 253px;
  }

  100% {
    top: 247px;
  }
}

@keyframes shieldMoveMin {
  0% {
    top: 247px;
  }

  50% {
    top: 253px;
  }

  100% {
    top: 247px;
  }
}

.hero {
  padding-top: 103px;
  padding-bottom: 80px;
  position: relative;
}

.hero__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 121px;
}

.hero__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.hero__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.hero__shild {
  z-index: 1;
  position: absolute;
  max-width: 40%;
  top: 200px;
  right: 15%;
  max-height: 700px;
  -webkit-animation: shieldMoveMax 1s infinite;
          animation: shieldMoveMax 1s infinite;
}

.hero__shild_play {
  display: none;
}

.hero__subtitle {
  margin-bottom: 30px;
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 31px;
  background: -webkit-gradient(linear, right top, left top, color-stop(26.53%, #68A7FF), color-stop(62.12%, #FFD464), to(#FF834E));
  background: -o-linear-gradient(right, #68A7FF 26.53%, #FFD464 62.12%, #FF834E 100%);
  background: linear-gradient(270deg, #68A7FF 26.53%, #FFD464 62.12%, #FF834E 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.hero__title {
  margin-bottom: 39px;
  font-size: calc(30px + 30 * ((100vw - 320px) / 1600));
  line-height: 67px;
  color: #fff;
}

.hero__timer {
  padding: 30px 18px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.hero__timer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__timer_discription {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 26px;
  color: #fff;
}

.hero__timer_time {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 53px;
  font-size: 53px;
  line-height: 27px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__timer_time span {
  position: relative;
}

.hero__timer_time span::after {
  position: absolute;
  bottom: -38px;
  left: 5px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  opacity: 0.53;
}

.hero__timer_btn {
  font-size: 16px;
  text-align: left;
  position: relative;
  padding: 24px 42px 24px 16px;
  width: 100%;
  line-height: 20px;
  text-align: center;
}

.hero__timer_btn::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 21px;
  width: 14px;
  height: 14px;
  background: url("../img/icons/arrowUp.svg") center/cover no-repeat;
}

.hero__play {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.hero__play::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 120%;
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(255, 255, 255, 0.31) 0%, rgba(169, 169, 169, 0.06) 16.15%, rgba(222, 222, 222, 0.13) 36.46%, rgba(168, 152, 152, 0.09) 51.56%, rgba(255, 255, 255, 0.06) 71.88%, rgba(77, 77, 77, 0) 100%) center/cover no-repeat;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.31) 0%, rgba(169, 169, 169, 0.06) 16.15%, rgba(222, 222, 222, 0.13) 36.46%, rgba(168, 152, 152, 0.09) 51.56%, rgba(255, 255, 255, 0.06) 71.88%, rgba(77, 77, 77, 0) 100%) center/cover no-repeat;
}

.hero__play .circle {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 1px 0 1px rgba(248, 102, 72, 0.25), 0 -1px 0 1px rgba(243, 56, 46, 0.25), 1px 0 0 1px rgba(248, 102, 72, 0.25), -1px 0 0 1px rgba(243, 56, 46, 0.25), 1px -1px 0 1px rgba(245, 79, 59, 0.5), -1px 1px 0 1px rgba(245, 79, 59, 0.5), 1px 1px 0 1px rgba(250, 124, 85, 0.75), -1px -1px 0 1px rgba(240, 33, 33, 0.75);
          box-shadow: 0 1px 0 1px rgba(248, 102, 72, 0.25), 0 -1px 0 1px rgba(243, 56, 46, 0.25), 1px 0 0 1px rgba(248, 102, 72, 0.25), -1px 0 0 1px rgba(243, 56, 46, 0.25), 1px -1px 0 1px rgba(245, 79, 59, 0.5), -1px 1px 0 1px rgba(245, 79, 59, 0.5), 1px 1px 0 1px rgba(250, 124, 85, 0.75), -1px -1px 0 1px rgba(240, 33, 33, 0.75);
  -webkit-animation: rotateThis 1s linear infinite;
          animation: rotateThis 1s linear infinite;
}

.hero__play .circle_bg {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
  transition: 0.7s all;
  opacity: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(0.25%, #EE3F3F), to(#EF6A40));
  background: -o-linear-gradient(right, #EE3F3F 0.25%, #EF6A40 100%);
  background: linear-gradient(270deg, #EE3F3F 0.25%, #EF6A40 100%);
}

.hero__play .circle_bg:hover {
  opacity: 1;
}

.hero__play .circle__border {
  position: relative;
  padding: 36.5px;
  border-radius: 50%;
}

.hero__play .circle__border::after {
  content: url("../img/hero/arrow.svg");
  position: absolute;
  bottom: -70px;
  left: -65%;
  opacity: 1;
}

.hero__play_btn {
  width: 19px;
  height: 19px;
  position: relative;
  z-index: 4;
}

.hero__days::after {
  content: 'дней';
}

.hero__hours::after {
  content: 'часов';
}

.hero__minutes::after {
  content: 'минут';
}

.hero__seconds::after {
  content: 'секунд';
}

.hero__numbers {
  width: 65px;
}

.hero__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__graph_wrapper {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__graph_y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: calc(8px + 3 * ((100vw - 320px) / 1600));
  line-height: 22px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.44);
}

.hero__graph_x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: calc(7px + 5 * ((100vw - 320px) / 1600));
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
}

.hero__graph_img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.hero__graph_img img {
  width: 100%;
}

.hero__graph_prices {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: calc(8px + 9 * ((100vw - 320px) / 1600));
  text-align: center;
  letter-spacing: -0.5px;
  color: #FFFFFF;
}

.hero__graph_prices .item {
  line-height: 28px;
  position: absolute;
  padding: 3px 8px 8px 8px;
}

.hero__graph_prices .curPrice {
  position: absolute;
  left: 5%;
  bottom: 56%;
  -webkit-filter: drop-shadow(0px 0px 35px rgba(255, 255, 255, 0.81));
          filter: drop-shadow(0px 0px 35px rgba(255, 255, 255, 0.81));
}

.hero__graph_prices .curPrice::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-80%);
      -ms-transform: translateX(-80%);
          transform: translateX(-80%);
  width: 57px;
  height: 57px;
  background: url("../img/hero/arrowDown.svg") center/contain no-repeat;
}

.hero__graph_prices .orange {
  bottom: 30%;
  left: 13.3%;
  background: url("../img/hero/orange.svg") center/100% 100% no-repeat;
}

.hero__graph_prices .blue {
  bottom: 43%;
  left: 45.6%;
  background: url("../img/hero/blue.svg") center/100% 100% no-repeat;
}

.hero__graph_prices .pink {
  bottom: 81%;
  left: 80.5%;
  background: url("../img/hero/pink.svg") center/100% 100% no-repeat;
}

.hero__company {
  position: relative;
  padding-left: 23px;
}

.hero__company_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.hero__company_label {
  font-family: Manrope;
  font-weight: 600;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  line-height: 31px;
  color: #FFFFFF;
}

.hero__company_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
}

.hero__company_image {
  margin-right: 22px;
}

.hero__company_last {
  margin-right: 0;
}

.hero__label {
  position: relative;
}

.hero__label::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -25px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.hero__label::after {
  content: '';
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -20px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 1;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.hero__label-1::before,
.hero__label-1::after {
  background-color: #FFA849;
}

.hero__label-2::before,
.hero__label-2::after {
  background-color: #000AFF;
}

.hero__label-3::before,
.hero__label-3::after {
  background-color: #F41D46;
}

.popup {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b6;
  opacity: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__wrapper {
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  padding-bottom: 46.25%;
}

.popup__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.colorful {
  padding-top: 235px;
  background: url("../img/colorful/background.jpg") top/cover repeat;
}

.monoDiscription {
  padding-bottom: 130px;
}

.monoDiscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.monoDiscription__body {
  margin-right: 108px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.monoDiscription__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.monoDiscription__img {
  width: 100%;
}

.monoDiscription__title {
  position: relative;
}

.monoDiscription__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: url("../img/colorful/MONO.svg") center/100% 100% no-repeat;
}

.monoDiscription__info {
  margin-bottom: 40px;
}

.monoDiscription__btn {
  position: relative;
  padding: 24px 58px 24px 24px;
}

.monoDiscription__btn::after {
  content: '';
  position: absolute;
  right: 26px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../img/icons/present.svg") center/cover no-repeat;
}

.monoAdvantages {
  padding-bottom: 130px;
}

.monoAdvantages__discription {
  margin-bottom: 52px;
  max-width: 830px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.advantages__percent {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 65px;
  margin-bottom: 30px;
}

.advantages__percent::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #2F80ED;
  opacity: 0.9;
  -webkit-filter: blur(32px);
          filter: blur(32px);
}

.advantages__percent img {
  width: 100%;
}

.advantages__black {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  background-color: #131823;
  -webkit-box-shadow: 0px 41.7776px 72px rgba(0, 0, 0, 0.06), 0px 22.3363px 50px rgba(0, 0, 0, 0.04), 0px 2.76726px 24px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 41.7776px 72px rgba(0, 0, 0, 0.06), 0px 22.3363px 50px rgba(0, 0, 0, 0.04), 0px 2.76726px 24px rgba(0, 0, 0, 0.02);
  color: #fff;
}

.advantages__white {
  background: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin-right: 24px;
  -webkit-box-shadow: 0px 41.7776px 72px rgba(0, 0, 0, 0.06), 0px 22.3363px 50px rgba(0, 0, 0, 0.04), 0px 2.76726px 24px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 41.7776px 72px rgba(0, 0, 0, 0.06), 0px 22.3363px 50px rgba(0, 0, 0, 0.04), 0px 2.76726px 24px rgba(0, 0, 0, 0.02);
}

.advantages__title {
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 32px;
  text-transform: none;
}

.advantages__discription {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.7;
}

.monoBurning {
  padding-bottom: 175px;
  margin-bottom: 115px;
  background: url("../img/colorful/fires.png") 110%/auto 100% no-repeat;
}

.monoBurning__title {
  max-width: 70%;
  position: relative;
}

.monoBurning__title::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/colorful/fire1.png") center/cover no-repeat;
}

.monoBurning__text {
  max-width: 896px;
}

.instruction {
  color: #131823;
  margin-bottom: 221px;
}

.instruction__title {
  max-width: 80%;
  margin-bottom: 18px;
  line-height: 70px;
}

.instruction__subtitle {
  max-width: 80%;
  margin-bottom: 53px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: calc(18px + 7 * ((100vw - 320px) / 1600));
  line-height: 41px;
  text-transform: uppercase;
}

.instruction__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instruction__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 107px;
}

.instruction__items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.instruction__items img {
  height: 57.65px;
}

.instruction__number {
  min-width: 71px;
  height: 57.65px;
}

.instruction__text {
  font-size: 18px;
  line-height: 34px;
}

.instruction__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.instruction__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.instruction__video_discription {
  margin-bottom: 34px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 31px;
}

.instruction__video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 35px;
  width: 100%;
  height: 0;
}

.instruction__btn {
  width: 100%;
  padding: 24px 0;
  font-size: 16px;
  color: #FCFCFC;
}

.instruction__btn_mobile {
  display: none;
}

.telegram {
  margin-bottom: 323px;
  position: relative;
  border-radius: 20px;
  color: #FEFEFE;
  background: url("../img/telegram/telegram_bg.jpg") center/cover no-repeat;
}

.telegram::before {
  z-index: 1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  width: 498px;
  height: 285px;
  background: url("../img/telegram/paper_plane.png") center/contain no-repeat;
}

.telegram::after {
  z-index: 1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/telegram/telegram_plane.png") top right/100% no-repeat;
}

.telegram__wrapper {
  padding: 45px 107px;
}

.telegram__title {
  max-width: 50%;
  margin-bottom: 14px;
  font-size: calc(25px + 3 * ((100vw - 320px) / 1600));
  line-height: 36px;
  text-transform: none;
}

.telegram__info {
  max-width: 50%;
  margin-bottom: 21px;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 27px;
}

.telegram__btn {
  position: relative;
  padding: 16px 28px 16px 55px;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 4px;
  background-color: transparent;
  color: #FEFEFE;
  z-index: 2;
}

.telegram__btn::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/take_part.svg") center/cover no-repeat;
}

.road {
  position: relative;
  margin-bottom: 104px;
  background: url("../img/road/map.jpg") center/cover no-repeat;
}

.road__wrapper {
  min-height: 868px;
  background: url("../img/road/road_2.png") center/contain no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.road__item_wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 11.111%;
          flex: 1 1 11.111%;
}

.road__item {
  position: absolute;
  left: 0;
}

.road__title {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  line-height: 33px;
  color: #131823;
  text-align: left;
}

.road__text {
  text-align: left;
  font-size: calc(7px + 4 * ((100vw - 320px) / 1600));
  line-height: 17px;
  color: #131823;
}

#road__id1 {
  bottom: 22%;
}

#road__id2 {
  bottom: 45%;
}

#road__id3 {
  bottom: 68%;
}

#road__id4 {
  bottom: 44%;
}

#road__id5 {
  bottom: 84%;
}

#road__id6 {
  bottom: 63%;
}

#road__id7 {
  bottom: 50%;
}

#road__id8 {
  bottom: 82%;
}

#road__id9 {
  text-align: right;
  top: -8%;
}

#road__id9 .road__title {
  color: #5051DE;
  font-size: calc(25px + 19 * ((100vw - 320px) / 1600));
}

#road__id9 .road__text {
  font-size: 12px;
}

.examples {
  margin-bottom: 275px;
}

.examples__title {
  margin-left: auto;
  max-width: 500px;
  text-align: right;
}

.examples__slider {
  max-height: 550px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
  min-height: 0;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.examples__slider_img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin-top: 30px;
}

.examples__slider_pagination {
  position: absolute;
  bottom: -31px;
  left: 42.5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.examples__slider_pagination-bullet {
  margin-right: 21px;
  background: #000000;
  opacity: 0.1;
  width: 10px;
  height: 10px;
}

.examples__slider_wrapper {
  position: relative;
}

.examples__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 0;
  position: relative;
}

.examples__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.examples__btn {
  position: relative;
  border-radius: 50%;
  width: 83px;
  height: 83px;
  padding: 34px;
}

.examples__btn_up {
  margin-bottom: 23px;
}

.examples__btn_down {
  background: -o-linear-gradient(223.94deg, #EF6A40 0%, #EE3F3F 100.85%);
  background: linear-gradient(226.06deg, #EF6A40 0%, #EE3F3F 100.85%);
}

.examples__arrow {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-active {
  background: #FF512C;
  opacity: 1;
}

.swiper-slide {
  border-radius: 10px;
  height: 100%;
}

.team {
  padding-bottom: 100px;
}

.team__title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: calc(35px + 45 * ((100vw - 320px) / 1600));
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #131823;
  margin-bottom: 100px;
}

.team-slide {
  width: 33%;
  border-radius: 15px;
  padding: 5px;
}

.team__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  border-radius: 15px;
  min-width: 0;
  border: 1px solid rgba(0, 0, 0, 0.18);
}

.team__photo {
  position: relative;
  padding-left: 22px;
  padding-bottom: 13px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  z-index: 2;
}

.team__photo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.48%, rgba(23, 23, 22, 0)), to(#171716));
  background: -o-linear-gradient(top, rgba(23, 23, 22, 0) 32.48%, #171716 100%);
  background: linear-gradient(180deg, rgba(23, 23, 22, 0) 32.48%, #171716 100%);
}

.team__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 42px 24px 62px;
  min-width: 0;
  -webkit-filter: drop-shadow(0px 41.7776px 72px rgba(0, 0, 0, 0.06)) drop-shadow(0px 22.3363px 50px rgba(0, 0, 0, 0.04)) drop-shadow(0px 2.76726px 24px rgba(0, 0, 0, 0.02));
          filter: drop-shadow(0px 41.7776px 72px rgba(0, 0, 0, 0.06)) drop-shadow(0px 22.3363px 50px rgba(0, 0, 0, 0.04)) drop-shadow(0px 2.76726px 24px rgba(0, 0, 0, 0.02));
}

.team__label {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: calc(12px + 8 * ((100vw - 320px) / 1600));
  line-height: 31px;
  color: #131823;
}

.team__text {
  font-size: calc(8px + 6 * ((100vw - 320px) / 1600));
  line-height: 155%;
  color: #333333;
  margin-bottom: 15px;
}

.team__text:last-child {
  margin-bottom: 0;
}

.team__name {
  position: relative;
  margin-bottom: 11px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: calc(13px + 9 * ((100vw - 320px) / 1600));
  line-height: 155%;
  color: #FFFFFF;
  z-index: 2;
}

.team__role {
  position: relative;
  font-weight: 500;
  font-size: calc(8px + 6 * ((100vw - 320px) / 1600));
  line-height: 22px;
  color: #358AF2;
  z-index: 2;
}

.team #member1 {
  background: url("../img/team/1.jpg") center/cover no-repeat;
}

.team #member2 {
  background: url("../img/team/2.jpg") center/cover no-repeat;
}

.footer {
  color: #FFFFFF;
  padding-top: 87px;
  padding-bottom: 75px;
  background: url("../img/footer/footer_bg.jpg") center/cover repeat;
}

.footer__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.footer__question_wrapper {
  position: relative;
  margin-bottom: 66px;
  padding: 50px 0;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  overflow: hidden;
}

.footer__title {
  margin-bottom: 20px;
  font-size: calc(30px + 18 * ((100vw - 320px) / 1600));
  line-height: 52px;
}

.footer__subtitle {
  margin-bottom: 40px;
  font-size: calc(15px + 1 * ((100vw - 320px) / 1600));
  line-height: 24px;
  opacity: 0.6;
}

.footer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__btn {
  position: relative;
  padding: 16px 28px 16px 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.footer__btn::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 16px;
  left: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__btn_telegram {
  margin-right: 12px;
}

.footer__btn_telegram::after {
  background: url(../img/icons/plane.svg) center/cover no-repeat;
}

.footer__btn_mail {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 4px;
}

.footer__btn_mail::after {
  background: url(../img/icons/mail.svg) center/cover no-repeat;
}

.footer__ground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__ground_title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
}

.footer__socials {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 19%;
          flex: 1 1 19%;
}

.footer__socials_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__socials_img {
  border-radius: 50%;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  margin-right: 14px;
  margin-bottom: 15px;
  cursor: pointer;
}

.footer__links li {
  margin-bottom: 16px;
}

.footer__link {
  position: relative;
  font-size: calc(8px + 6 * ((100vw - 320px) / 1600));
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer__link::after {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.footer__link:hover {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 1;
}

.footer__link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.footer__apps {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17%;
          flex: 1 1 17%;
}

.footer__apps-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__apps-item {
  position: relative;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.6;
  margin-bottom: 18px;
  padding: 9px 13px 9px 52px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.footer__apps-item::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 28px;
  left: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/footer/apple.svg") center/cover no-repeat;
}

.footer__apps-item:last-child {
  margin-bottom: 0;
}

.footer__apps-item:last-child::after {
  width: 24px;
  height: 28px;
  background: url("../img/footer/android.svg") center/cover no-repeat;
}

.footer__apps-item:hover {
  border-color: white;
  opacity: 1;
}

.footer__documents {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
}

.footer__products {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17%;
          flex: 1 1 17%;
}

.footer__copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17%;
          flex: 1 1 17%;
}

.footer__copyright span {
  display: inline-block;
  margin-bottom: 50px;
  font-size: calc(9px + 3 * ((100vw - 320px) / 1600));
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.4;
}

.footer__developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__developer p {
  display: inline-block;
  margin-left: 8px;
  font-size: calc(9px + 3 * ((100vw - 320px) / 1600));
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.4;
}

.footer__developer span {
  font-weight: 500;
  display: block;
  text-decoration: underline;
  opacity: 1;
}

.footer__attention {
  position: relative;
  padding-left: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.footer__attention::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/warning.svg") center/cover no-repeat;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer__Telegram:hover {
  background-color: #28a7e8;
}

#footer__Facebook:hover {
  background-color: #3c82eb;
}

#footer__Twitter:hover {
  background-color: #1ca0f1;
}

#footer__Instagram:hover {
  background-color: #ef476f;
}

#footer__Vk:hover {
  background-color: #2787f5;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body button {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 1920px) {
  .hero__shild {
    max-width: 40%;
    right: 50px;
  }
}

@media (max-width: 1052px) {
  .container {
    max-width: 970px;
  }

  .container-big {
    max-width: 1000px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .container-big {
    max-width: 850px;
  }

  .header__icon {
    width: 90%;
  }

  .header__list li {
    margin-right: 32px;
  }

  .hero__shild {
    max-height: auto;
    top: 250px;
    right: 0;
    max-width: 48%;
    -webkit-animation: shieldMoveMin 1s infinite;
            animation: shieldMoveMin 1s infinite;
  }

  .hero__play::before {
    width: 130%;
    height: 100%;
  }

  .hero__play .circle__border {
    padding: 26.5px;
  }

  .hero__play .circle__border::after {
    bottom: -70px;
    left: -87%;
  }

  .hero__graph_prices .curPrice::after {
    top: 20px;
    -webkit-transform: translateX(-60%);
        -ms-transform: translateX(-60%);
            transform: translateX(-60%);
    width: 47px;
    height: 47px;
  }

  .hero__company {
    padding-left: 17px;
  }

  .monoDiscription__body {
    margin-right: 58px;
  }

  .instruction__items {
    margin-right: 57px;
  }

  .telegram {
    margin-bottom: 223px;
  }

  .telegram::after {
    display: none;
  }

  .telegram__title {
    max-width: 100%;
    text-align: center;
  }

  .telegram__info {
    text-align: center;
    max-width: 100%;
  }

  .telegram__btn {
    display: block;
    margin: 0 auto;
  }

  .road__wrapper {
    min-height: 0;
    padding-left: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: url("../img/road/road_mobile.svg") top left/contain no-repeat;
  }

  .road__item {
    position: static;
    margin-bottom: 40px;
  }

  .road__text {
    font-size: calc(12px + 3 * ((100vw - 320px) / 1600));
  }

  #road__id9 {
    text-align: left;
    margin-bottom: 0;
  }

  .examples__slider {
    height: 450px;
  }

  .examples__navigation {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
  }

  .examples__btn {
    width: 63px;
    height: 63px;
  }

  .team-slide {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .container-big {
    max-width: none;
    padding: 0 10px;
  }

  .section-title {
    line-height: 40px;
    margin-bottom: 20px;
  }

  .section-text {
    line-height: 30px;
  }

  .header__wrapper {
    padding-top: 45px;
  }

  .header__burger {
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.32);
    border-radius: 4px;
  }

  .header__list li {
    margin-bottom: 12px;
    line-height: 24px;
  }

  .header__list li:last-child {
    margin-bottom: 0;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 121px;
  }

  .header__btn::after {
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }

  .header__btn {
    padding: 0;
    width: 48px;
    height: 48px;
    margin-right: 12px;
  }

  .header__btn span {
    display: none;
  }

  .header__menu {
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    padding: 125px 10px 40px 10px;
    width: 100%;
    height: 450px;
    background: -o-linear-gradient(bottom, rgba(17, 15, 38, 0.6), rgba(17, 15, 38, 0.6)), -o-linear-gradient(310.93deg, #3D34C1 1.38%, #000000 50.95%, #FF2828 100%);
    background: linear-gradient(0deg, rgba(17, 15, 38, 0.6), rgba(17, 15, 38, 0.6)), linear-gradient(139.07deg, #3D34C1 1.38%, #000000 50.95%, #FF2828 100%);
    -webkit-backdrop-filter: blur(22px);
            backdrop-filter: blur(22px);
    border-radius: 0px 0px 12px 12px;
    z-index: 2;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    overflow: auto;
  }

  .header__menu.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
  }

  .header__mobile-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .hero__first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 57px;
  }

  .hero__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    position: relative;
  }

  .hero__shild {
    position: static;
    max-width: 100%;
    -webkit-animation: none;
            animation: none;
  }

  .hero__shild_play {
    display: block;
    position: absolute;
    bottom: 12%;
    right: 27%;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: -webkit-gradient(linear, right top, left top, color-stop(0.04%, #EF6A40), to(#EE3F3F));
    background: -o-linear-gradient(right, #EF6A40 0.04%, #EE3F3F 100%);
    background: linear-gradient(270deg, #EF6A40 0.04%, #EE3F3F 100%);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    cursor: pointer;
  }

  .hero__subtitle {
    line-height: 24px;
  }

  .hero__title {
    line-height: 41px;
    margin-bottom: 30px;
  }

  .hero__timer {
    text-align: center;
    padding: 30px 12px;
    width: 100%;
  }

  .hero__timer_btn {
    width: auto;
  }

  .hero__play {
    display: none;
  }

  .hero__play {
    display: none;
  }

  .hero__numbers {
    width: 60px;
  }

  .hero__graph_prices .item {
    padding: 3px 5px 5px 5px;
    line-height: 17px;
  }

  .hero__graph_prices .curPrice {
    left: 3%;
  }

  .hero__graph_prices .curPrice::after {
    top: 15px;
    width: 32px;
    height: 32px;
  }

  .hero__graph_prices .orange {
    left: 12.3%;
  }

  .hero__graph_prices .blue {
    left: 44.6%;
  }

  .hero__graph_prices .pink {
    left: 79.5%;
  }

  .hero__company {
    padding-left: 23px;
    margin-bottom: 25px;
  }

  .hero__company_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__company_label {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  }

  .hero__company_images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .popup__wrapper {
    top: 40%;
    width: 100%;
  }

  .colorful {
    background: url("../img/colorful/background.jpg") top right/cover repeat;
    padding-top: 135px;
  }

  .monoDiscription__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .monoDiscription__body {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }

  .monoDiscription__content {
    margin-bottom: 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .monoDiscription__title::before {
    width: 70%;
    height: 84px;
  }

  .monoDiscription__btn {
    display: block;
    margin: 0 auto;
  }

  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__white {
    margin-right: 0;
    margin-bottom: 26px;
  }

  .monoBurning {
    padding-bottom: 80px;
    margin-bottom: 30px;
    background: url("../img/colorful/fires.png") center/cover no-repeat;
  }

  .monoBurning__title::after {
    right: -30%;
    -webkit-transform: translateY(-70%) rotate(45deg);
        -ms-transform: translateY(-70%) rotate(45deg);
            transform: translateY(-70%) rotate(45deg);
  }

  .instruction {
    margin-bottom: 131px;
  }

  .instruction__title {
    max-width: 100%;
  }

  .instruction__subtitle {
    line-height: 32px;
    margin-bottom: 43px;
    max-width: 100%;
  }

  .instruction__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .instruction__items {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .instruction__items li {
    margin-bottom: 20px;
  }

  .instruction__items img {
    height: 40px;
  }

  .instruction__number {
    min-width: 51px;
    height: 40px;
  }

  .instruction__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .instruction__btn {
    display: none;
  }

  .instruction__btn_mobile {
    display: block;
  }

  .telegram {
    margin-bottom: 185px;
  }

  .telegram::before {
    left: 60%;
    -webkit-transform: translate(-70%, -40%);
        -ms-transform: translate(-70%, -40%);
            transform: translate(-70%, -40%);
    width: 298px;
    height: 185px;
  }

  .telegram__wrapper {
    padding: 45px 57px;
  }

  .telegram__btn {
    width: 100%;
  }

  .examples {
    margin-bottom: 186px;
  }

  .examples__title {
    text-align: center;
  }

  .examples__slider {
    height: 350px;
  }

  .examples__slider_img {
    width: 90%;
  }

  .examples__slider_pagination {
    left: 50%;
    width: 100%;
    text-align: center;
  }

  .examples__navigation {
    display: none;
  }

  .team__title {
    margin-bottom: 41px;
  }

  .team-slide {
    width: 100%;
  }

  .team__label {
    line-height: 18px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .footer__question_wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 24px 0;
  }

  .footer__btn::after {
    left: 8px;
  }

  .footer__btn_telegram {
    padding: 0;
    width: 56px;
    height: 56px;
  }

  .footer__btn_telegram span {
    display: none;
  }

  .footer__btn_telegram::after {
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }

  .footer__btn_mail {
    height: 56px;
  }

  .footer__img {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    opacity: 0.2;
  }

  .footer__ground {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__ground_title {
    margin-bottom: 8px;
    font-size: 20px;
  }

  .footer__socials_img {
    margin-bottom: 0;
  }

  .footer__socials .footer__ground_title {
    display: none;
  }

  .footer__socials {
    margin-bottom: 27px;
  }

  .footer__links {
    display: none;
  }

  .footer__apps {
    display: none;
  }

  .footer__copyright span {
    margin-bottom: 0;
    font-size: 12px;
  }

  .footer__copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .footer__developer p {
    font-size: 12px;
  }

  .footer__attention {
    margin-bottom: 36px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767.98px) and (max-width: 479.98px) {
  .hero__shild_play {
    padding: 26px;
  }
}

@media (max-width: 767.98px) and (max-width: 375px) {
  .hero__shild_play {
    padding: 20px;
  }
}

@media (max-width: 479.98px) {
  .hero__timer_btn {
    width: 100%;
  }

  .hero__graph_img img {
    max-width: 100%;
    height: 100%;
  }

  .hero__graph_prices .curPrice {
    left: 0.5%;
    bottom: 63%;
  }

  .hero__company_wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .hero__company_images {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .monoDiscription__title::before {
    width: 90%;
  }

  .monoDiscription__btn {
    width: 100%;
  }

  .monoBurning__title {
    max-width: 100%;
  }

  .monoBurning__title::after {
    right: 10px;
    width: 80px;
    height: 80px;
  }

  .instruction__items li {
    margin-bottom: 14px;
  }

  .instruction__items li:last-child {
    margin-bottom: 0;
  }

  .telegram__wrapper {
    padding: 39px 24px 65px 24px;
  }

  .telegram__title {
    text-align: left;
  }

  .telegram__info {
    text-align: left;
  }

  .examples__slider {
    height: 240px;
  }

  .examples__slider_pagination-bullet {
    width: 8px;
    height: 8px;
  }

  .footer__btn {
    padding: 16px 20px 16px 34px;
  }

  .footer__socials_img {
    margin-right: 5px;
  }
}

@media (max-width: 375px) {
  .header__mobile-btn {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  }

  .hero__timer_time {
    font-size: calc(45px + 8 * ((100vw - 320px) / 1600));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__timer_time span::after {
    font-size: 10px;
  }

  .hero__timer_btn {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  }

  .instruction__btn {
    font-size: 14px;
  }
}
@supports (-webkit-appearance:none){
.header{background:url("../img/header/header_bg.webp") center/cover no-repeat}
.header__btn::after{background:url("../img/icons/present.svg") center/cover no-repeat}
.header__mobile-btn_mail::after{background:url("../img/icons/mail.svg") center/cover no-repeat}
.hero__timer_btn::after{background:url("../img/icons/arrowUp.svg") center/cover no-repeat}
.hero__graph_prices .curPrice::after{background:url("../img/hero/arrowDown.svg") center/contain no-repeat}
.hero__graph_prices .orange{background:url("../img/hero/orange.svg") center/100% 100% no-repeat}
.hero__graph_prices .blue{background:url("../img/hero/blue.svg") center/100% 100% no-repeat}
.hero__graph_prices .pink{background:url("../img/hero/pink.svg") center/100% 100% no-repeat}
.colorful{background:url("../img/colorful/background.webp") top/cover repeat}
.monoDiscription__title::before{background:url("../img/colorful/MONO.svg") center/100% 100% no-repeat}
.monoDiscription__btn::after{background:url("../img/icons/present.svg") center/cover no-repeat}
.monoBurning{background:url("../img/colorful/fires.webp") 110%/auto 100% no-repeat}
.monoBurning__title::after{background:url("../img/colorful/fire1.webp") center/cover no-repeat}
.telegram{background:url("../img/telegram/telegram_bg.webp") center/cover no-repeat}
.telegram::before{background:url("../img/telegram/paper_plane.webp") center/contain no-repeat}
.telegram::after{background:url("../img/telegram/telegram_plane.webp") top right/100% no-repeat}
.telegram__btn::before{background:url("../img/icons/take_part.svg") center/cover no-repeat}
.road{background:url("../img/road/map.webp") center/cover no-repeat}
.road__wrapper{background:url("../img/road/road_2.webp") center/contain no-repeat}
.team #member1{background:url("../img/team/1.webp") center/cover no-repeat}
.team #member2{background:url("../img/team/2.webp") center/cover no-repeat}
.footer{background:url("../img/footer/footer_bg.webp") center/cover repeat}
.footer__btn_telegram::after{background:url(../img/icons/plane.svg) center/cover no-repeat}
.footer__btn_mail::after{background:url(../img/icons/mail.svg) center/cover no-repeat}
.footer__apps-item::after{background:url("../img/footer/apple.svg") center/cover no-repeat}
.footer__apps-item:last-child::after{background:url("../img/footer/android.svg") center/cover no-repeat}
.footer__attention::after{background:url("../img/icons/warning.svg") center/cover no-repeat}
}

 @media (max-width: 1920px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1052px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){
.road__wrapper{background:url("../img/road/road_mobile.svg") top left/contain no-repeat}
}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){
.colorful{background:url("../img/colorful/background.webp") top right/cover repeat}
.monoBurning{background:url("../img/colorful/fires.webp") center/cover no-repeat}
}

}

 @media (max-width: 767.98px) and (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (max-width: 375px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 375px){

@supports (-webkit-appearance:none){

}

}
